/* GENREAL */

html,
body {
  overflow-x: hidden;
}

body {
  position: relative;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.5px;
}

img {
  width: 100%;
}

span {
  display: inline-block;
}

/* NAVBAR */

a:hover {
  text-decoration: none;
  color: inherit;
}

.site-logo {
  font-weight: 900;
  font-size: 1rem;
  color: var(--text);
  text-decoration: none;
  width: 32%;
  display: none;
}

header {
  --text: #f4f4f4;
  --text-inverse: #333;
  --background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  padding: 1.5em 10px;
  transition: background 250ms ease-in;
  background: var(--background);
  color: var(--text);
}

.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav__link {
  --spacing: 1em;
  text-decoration: none;
  color: inherit;
  display: inline-block;
  padding: calc(var(--spacing) / 2) var(--spacing);
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 11px;
  border-radius: 10px;
  text-shadow: 1px 1px #3b3333;
}

.nav__link:after {
  content: '';
  position: absolute;
  bottom: 5px;
  left: var(--spacing);
  right: var(--spacing);
  height: 2px;
  background: currentColor;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  transition: -webkit-transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
}

.nav__link:hover::after {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.nav-scrolled {
  --text: #333;
  --text-inverse: #f4f4f4;
  --background: #f4f4f4;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}

/* HERO */

.intro {
  padding: 50vh 0;
  background: #97a1aa url('./img/IMG_0269.jpg') no-repeat center center fixed;
  background-blend-mode: multiply;
  color: white;
  background-size: cover;
}

.lead {
  font-style: italic;
}

.description {
  padding-top: 25px;
  padding-bottom: 50px;
}

/* SECTIONS */
.container-fluid {
  max-width: 1300px;
}
section {
  padding-top: 100px;
  padding-bottom: 25px;
}

section .row {
  padding-top: 25px;
}

/* AI SECTION */
.backgroundPink {
  background-color: pink;
}

.ai .container {
  margin-bottom: 50px;
}

/* ROBOTICS SECTION */
.backgroundBeige {
  background-color: beige;
}

.robotics .container {
  margin-top: 25px;
}
/* AR | VR SECTION */

.backgroundBrown {
  background-color: #eed696;
}
.arvr .container {
  padding-top: 25px;
}

.arvr .row div:nth-child(1) {
  margin-bottom: 15px;
}

/* FADERS */

.fade-in {
  opacity: 0;
  transition: opacity 300ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}

.from-left {
  transform: translateX(-50%);
}
.from-right {
  transform: translateX(50%);
}

.from-left,
.from-right {
  transition: opacity 300ms ease-in, transform 600ms ease-in;
  opacity: 0;
}

.from-left.appear,
.from-right.appear {
  transform: translateX(0);
  opacity: 1;
}

/* BREAKPOINTS */
/* Extra small devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  header {
    justify-content: center;
  }

  .nav__link {
    font-size: 0.9rem;
  }

  .card-deck .card {
    flex: auto;
  }

  .ai img {
    max-width: 465px;
    max-height: 700px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .card-deck .card {
    flex: 1 0 0%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .site-logo {
    display: initial;
  }

  header {
    justify-content: initial;
  }

  .ai img {
    max-height: 600px;
  }
}
